@import "./node_modules/bootswatch/dist/slate/variables.scss";
@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./node_modules/bootswatch/dist/slate/bootswatch.scss";
@import "_bootswatch.scss";
@import "_variables.scss";
@import "_modal.scss";

body {
  color: #dddddd;
}

h3, h1, p {
  font-weight: lighter;
}

h3 {
   font-size: 26px;
 }

.row {
  margin-top: 20px;
}

.header-image {
  opacity: 0.9;
}

.footer {
  margin-bottom: 100px;
  margin-top: 80px
}

#languageList {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 0.5em 0.7em;
  display: block;
  width: 40px;
  height: auto;
  z-index: 99;
}
