@import "./node_modules/bootswatch/dist/slate/variables.scss";
@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./node_modules/bootswatch/dist/slate/bootswatch.scss";
@import "_bootswatch.scss";
@import "_variables.scss";
@import "_modal.scss";

body {
  color: #ebebeb;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

a {
  text-decoration: underline;
}

h3, h1, p {
  font-family: 'Raleway', sans-serif;
}

p {
  font-weight: 200;
}

h3 {
   font-size: 26px;
}

h1, h3 {
  font-weight: 200;
}

.container {
  background-color: rgba(0,0,0,0.25) !important;
}

.row {
  margin-top: 20px;
}

.header {
  margin-top: 0px !important;
  background-color: rgba(0,0,0,0.2) !important;
}

.header-image {
  margin-top: 50px;
  margin-bottom: 50px;
}

.band {
  padding-bottom: 100px;
  padding-top: 100px;
}

.footer {
  margin-bottom: 0px !important;
  padding-top: 20px !important;
  background-color: rgba(0,0,0,0.2);
}

.bg-translucid-dark {
  background-color: rgba(0,0,0,0.0);
}

.bg-img {
  width: 100% !important;
  height: 100vh !important;
  position: fixed !important;
  z-index: -1 !important;

  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.bg-visible {
  opacity: 1;
}

.navbar {
  padding: 0px !important;
}

.navbar-nav {
  flex-direction: row !important;
}

.nav-item {
  text-decoration: none;
}

.nav-link {
  border: none !important;
  text-decoration: none;

  &:hover{
    background-image: none !important;
  }
}

.nav-link:focus, .nav-link:hover {
  background-image: none !important;
  background-color: rgba(0, 0, 0, .1) !important;
  border: none;
}


.dropdown-menu {
  background-image: none !important;
  background-color: rgba(0, 0, 0, .1);
  border: none;
  min-width: 100%;
  line-height: 1;
  z-index: 10000 !important;
  padding: 0px !important;

}

